node_modules
.env
.DS_Store
*.log
serviceAccount.json

# --- web ---
apps/web/.next/
apps/web/node_modules/
apps/web/.env*
apps/serviceAccount.json

# --- general ---
**/node_modules/
**/.next/
.env*
